@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* I wrap the HTML output in .blog-body */
.blog-body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em;
  text-indent: -.7em;
  margin-top: 0.5rem;
}

.blog-body ul li:before {
  content: "○ ";
  color: rgb(190, 41, 41);
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol li {
  counter-increment: my-awesome-counter;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: rgb(190, 41, 41);
}

.blog-body>p {
  margin-top: 1rem;
  line-height: 1.75rem;
}

.blog-body>p>code {
  font-weight: 500;
  padding: 0.2rem;
  border-radius: 5px;
  color: rgb(48, 47, 78);
  background-color: rgba(148, 163, 184, 0.4);
}

li>code {
  font-weight: 500;
  padding: 0.2rem;
  border-radius: 5px;
  color: rgb(48, 47, 78);
  background-color: rgba(148, 163, 184, 0.4);
}

.blog-body>p>a {
  font-weight: 500;
  color: rgb(18, 13, 158);
}

@media only screen and (min-width: 1920px) {
  .blog-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/* Headings */

.blog-body>h1 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.blog-body>h2 {
  border-left: 0.25rem solid rgb(173, 53, 53);
  padding-left: 1rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.blog-body>h3 {
  font-size: 1.3rem;
  margin-top: 1.1rem;
  color: rgb(190, 41, 41);
  font-weight: 400;
}

/* Pictures */
.blog-body>p>img {
  border-radius: 10px;
  margin: 5px;
  box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.18);
}

@media only screen and (min-width: 600px) {
  .blog-body>p>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/* Syntax Highlighting */

pre {
  background-color: rgb(36, 45, 56);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.18);
}

.kd,
.k {
  color: rgb(219, 112, 219);
}

.nc,
.p {
  color: rgb(250, 239, 79);
}

.sr,
.se,
.nf,
.kn {
  color: rgb(146, 195, 235)
}

.s,
.c {
  color: rgb(168, 164, 164)
}

.na,
.ni {
  color: rgb(221, 99, 99);
}

.n,
.o,
.no {
  color: rgb(231, 231, 231)
}

.ss {
  color: rgb(31, 236, 226)
}

/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Copy button start */

pre {
  position: relative;
}

pre:hover .copy-button {
  display: block;
}

.copy-button {
  display: none;
  position: absolute;
  top: 9px;
  right: 9px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 0.5;
  transition: all 150ms;
  font-size: 14px;
  line-height: 24px;
  color: currentColor;
}

.copy-button:hover {
  opacity: 1;
}

.copy-button svg {
  width: 20px;
}

.copy-button.clicked {
  display: block;
  opacity: 1;
  color: #408200;
}

.copy-button.clicked::after {
  content: "Copied! \2713";
}

.copy-button.clicked svg {
  display: none;
  color: currentColor;
}

/* Copy button end */
