<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <.live_title suffix=" | AV">
      <%= assigns[:page_title] || "Welcome" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="bg-slate-400">
    <header>
      <section>
        <%= render("_navbar.html", conn: @conn) %>
      </section>
    </header>
    <div class="m-2 md:m-5 bg-gray-50 px-5 pt-5 pb-10 rounded shadow">
      <%= @inner_content %>
      <%= render("_footer.html", conn: @conn) %>
    </div>
  </body>
</html>
