<p>
  You are invited to:
  <ul class="biglist borderleft">
    <li>
      <%= link to: Routes.page_path(@conn, :aboutme) do %>
        SMILE Find out more about me
      <% end %>
    </li>
    <li>
      <%# link to: Routes.post_path(@conn, :index) do %>
        OPEN BOOK Read my blog
      <%# end %>
    </li>
    <li>
      <%= link to: "https://github.com/alanvardy", target: "_blank" do %>
        GITHUB Take a look at my work on GitHub
      <% end %>
    </li>
  </ul>
</p>
