    <h1 class="text-xl mt-3 mb-3">Welcome!</h1>
    <p>
      I am Alan Vardy, a Backend Elixir Developer out of Victoria, British Columbia, Canada.
    </p>
    <p>
      I am enthusiastic in particular about helping remote teams become smooth and productive through the continous improvement of testing, tooling, and documentation.
    </p>
